* {
  box-sizing: border-box;
}

body {
  background-color: #3eaaf5;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100%;
}

form {
  margin: 8.5% auto;
  padding: 20px 30px;
  border: 1px dashed white;
  width: 700px; /* ? */
  color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25em;
  font-weight: bold;
  margin: 0.5rem;
}

h1 + p {
  text-align: center;
  font-size: 1.25em;
}

form > div {
  display: flex;
  justify-content: space-between;
}

.inputs-container {
  flex-direction: column;
  margin: 1rem 0;
}

.inputs-container > div {
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 48%;
}

.input-field {
  width: 48%;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.25em;
  color: #8a8a8a;
  margin: 0.5rem 0;
}

.input-container > .input-field {
  width: 100%;
}

input::placeholder {
  color: #8a8a8a;
}

.input-field:focus {
  border: 3px solid #0282dd;
}

.radio-container {
  margin: 1rem 0;
  padding: 15px;
  border: 1px solid white;
}

.radio-container > div {
  width: 90%;
}

input[type='radio'] {
  cursor: pointer;
  margin: auto;
}

label {
  cursor: pointer;
  font-size: 1.25em;
}

.radio-container > div > * {
  margin: 0.5rem 0;
}

.checkbox-container {
  margin: 1.5rem 0;
  justify-content: center;
  gap: 0.625rem;
}

input[type='checkbox'] {
  cursor: pointer;
}

.checkbox-container label {
  font-size: 1em;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  background-color: #28d2d1;
  cursor: pointer;
}

.invalid-value {
  max-width: 100%;
  color: red;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid red;
  border-radius: 10px;
}

@media (max-width: 700px) {
  form {
    width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  form {
    padding: 10px 20px;
    font-size: 12px;
  }
}
